@charset "utf-8";
/* CSS Document */


*{
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

div.contianer{
	width: 90%;
	margin: 50px auto;
	background: grey;
	display: flex;
	flex-wrap: wrap;
	justify-content:space-between;
}

div.one{
width: 100px;
}

div.two{
width: 100px;
align-self:center;
}

div.three{
width: 100px;
}
