.box1{
  font-size: 20px;
  width:300px;
  height:150px;
  background: white;
  padding:30px;
  border:20px solid white;
  margin:30px;
}

nav{
font-size: 20px;
margin:0px;
}

a.one:link {color:#ff0000;text-decoration:none;}
a.one:visited {color:#0000ff;text-decoration:none;}
a.one:hover {color:#ffcc00;text-decoration:none;}

a.two:link {color:#ff0000;text-decoration:none;}
a.two:visited {color:#0000ff;text-decoration:none;}
a.two:hover {color:#ffcc00;text-decoration:none;}



.text{
  font-size: 20px;
  width:800px;
  height:600px;
  background: white;
  padding:30px;
  border:20px solid white;
  margin:10px;
}

.picture1{
  margin: 80px auto;
  width:900px;
  height: 600px;
}

*{

box-sizing: border-box;


padding:10px;

margin:20px;

}

#num2
{
  font-size: 20px;
  color:red;}

.num1 {
    font-size: 20px;
    color: grey;
  }

h3{
margin-top:   20px;
margin-bottom: 20px;
}

h1{
margin-left: 20px;
font-size: 30px;
color: black;
  }

span{
  margin: 0px;
  padding: 0px;
}

.num0  span:hover
{
font-size: 20px;
color:blue  ;
margin: 0px;
padding: 0px;

    }
